@import 'react-toolbox/lib/colors.css';
@import 'react-toolbox/lib/variables.css';
@import 'react-toolbox/lib/media.css';

@import '../../global.css';

a {
    text-decoration: none;
}

.appBar {
    background-color: inherit;
    color: var(--color-black);
    transition: all 0.3s ease-out;

    &.fixed {
    z-index: var(--z-index-high);
  }
}

.leftIcon {
    color: var(--color-black) !important;
    @nest .appBar__active & {
        color: var(--color-white) !important;
    }
}

.title {
    visibility: hidden;
    @nest .appBar__active & {
        visibility: visible;
        color: var(--color-white) !important;
    }
}

@media screen and (--larger-than-sm-viewport) {
  .leftIcon {
    display: none;
  }
  .appBar {
    &.fixed {
        z-index: var(--z-index-highest);
    }
  }
}

.appBar__active {
    background-color: var(--color-accent);
    color: var(--color-white) !important;
}

.horizontal {
     & > [data-react-toolbox='link'] {
        @nest .appBar__active & {
            color: var(--color-white);
        }
    }
}