@import 'react-toolbox/lib/colors.css';
@import 'react-toolbox/lib/variables.css';
@import 'react-toolbox/lib/media.css';

@import '../../global.css';

.vertical {
    position: fixed;
    right: 32px;
    //width: initial;
    bottom: 64px;

    & button {
        user-select: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); //모마일 터치 효과 없애기
        box-shadow: var(--zdepth-shadow-3);
        &:hover {
            box-shadow: var(--zdepth-shadow-4);
        }
        & > svg {
            color: white;
        }
        &:nth-child(2) { transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; }
        &:nth-child(3) { transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; }
        &:nth-child(4) { transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; }
        &:nth-child(5) { transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
        &:not(:last-child) {
            cursor: default;
            transform: translateY(100px);
            margin: 13px;
            opacity: 0;
        }
    }
}

.fm__active {
    & button {
        &:not(:last-child) {
            cursor: pointer;
            transform: none;
            opacity: 1;
        }
    }
}

.getlink {
    background-color: #FFA500 !important;

    & span {
        font-size: 32px !important;
        color: white !important;
    }
}