@import 'react-toolbox/lib/colors.css';
@import 'react-toolbox/lib/variables.css';
@import 'react-toolbox/lib/media.css';

@import '../../global.css';

.list {
    position: fixed;
    right: 64px;
    width: initial;
    bottom: 64px;

    & button {
        box-shadow: var(--zdepth-shadow-3);
        margin: 0 10px;
        &:hover {
            box-shadow: var(--zdepth-shadow-4);
        }
    }
}

.vertical {
     & [data-react-toolbox='button'] {
         margin: 10px;
    }
    & [data-react-toolbox="font-icon"] {
        font-size: 32px;
        color: white;
    }
}

.button {
    & > svg {
        color: white;
    }
}

.getlink {
    background-color: #FFA500 !important;

    & span {
        font-size: 32px !important;
        color: white !important;
    }
}